.main {
  width: 600px;
  height: 600px;
}

.top {
  background-color: #ffff00;
  width: 600px;
  height: 150px;
}

.center1 {
  width: 600px;
  height: 150px;
  display: flex;
}

.center1-left {
  background-color: #33ffff;
  width: 200px;
  height: 150px;
}

.center1-center {
  background-color: #ff0000;
  width: 200px;
  height: 150px;
}

.center1-right {
  background-color: #0000ff;
  width: 200px;
  height: 150px;
}

.center2 {
  width: 600px;
  height: 150px;
  display: flex;
}

.center2-left {
  background-color: #00ff00;
  width: 450px;
  height: 150px;
}

.center2-right {
  background-color: #ff00ff;
  width: 150px;
  height: 150px;
}

.bottom {
  background-color: #33ffff;
  width: 600px;
  height: 150px;
}

* {
  margin: 0;
  padding: 0;
}